recursive-include occa/ *.py *.hpp *.cpp

recursive-include occa/c/occa.git/include *
recursive-include occa/c/occa.git/src *
recursive-include occa/c/occa.git/scripts *
recursive-include occa/c/occa.git/bin *

include occa/c/occa.git/LICENSE
include occa/c/occa.git/Makefile
include occa/c/occa.git/lib/libocca.so

include requirements.txt
include setup.py
include LICENSE
include MANIFEST.in
include versioneer.py